<section class="header">
  <aside>
    <figure>
      <!--one way binding interpolation -->
      <img src="{{logoPath}}" class="logo"/>
    </figure>
  </aside>
  <article>
    <figure>
      <!--one way binding interpolation -->
      <img src="{{banner1}}" class="banner"/>
    </figure>
    <figure>
      <!--one way binding interpolation -->
      <img src="{{banner2}}" class="banner"/>
    </figure>
  </article>
</section>
<section id="topmenu">
  <loan-menu></loan-menu>

</section>
<!--<app-parent></app-parent>-->
<section id="outlet">
<router-outlet></router-outlet>
</section>
